{% extends "base.html" %}

{% block title %}

Thermos -- Add a URL
  
{% endblock title %}

{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <article>
        <p>Please, enter your bookmark here:
            {{ form.url(size = 50) }}
        </p>
        <p>Add an optional description:
            {{ form.description(size = 50) }}
        </p>
        <p>
            <button type="submit" name="submit">Submit</button>
        </p>
    </article>
</form>
  
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}